<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controlSources>
      <source patch:before="*[@folder='/sitecore/shell/override']" mode="on" namespace="Sitecore.Support.Web.UI.HtmlControls" assembly="Sitecore.Support.177154" />
    </controlSources>
    <ui>
      <references>
        <reference>/bin/Sitecore.Support.177154.dll</reference>
      </references>
    </ui>
  </sitecore>
</configuration>